body{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

/* Header*/
.header_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 90px;
    border-bottom: 1px solid #DDD;
    align-items: center;
    padding: 0 20px;
    }

.header_logo{
    height: 90px;
}

.header_right > ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header_right > ul > li{
    display: inline-block;
    margin: 0 5px; 
}

.header_right > ul > li > a{
    text-decoration: none;
    color: black;
    font-size:15px;
    text-transform: uppercase;
}

.header_right > ul > li > a:hover{
    color: #990E0E;
}

.btn_login{
    height: 35px;
    width: 80px;
    border: 1px solid #3f3f3f;
    background-color: white;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
}
.btn_login:hover{
    color: white;
    background-color: #990E0E;
}
.btn_register{
    height: 35px;
    width: 80px;
    border: 1px solid #3f3f3f;
    background-color: white;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all ease-in-out 0.6s;
}
.btn_register:hover{
    color: white;
    background-color: #990E0E;
}

.img_width{
    height:10%;
    width:100%;
}
.full_width{
    width:100%
}

.product_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

#featured{
    padding: 0px 50px;
}

.product_card{
    box-sizing: border-box;
    padding: 0 15px;
    max-width: 25%;
    flex: 0 0 25%;
}
.card_wrapper{
    border: 0px solid #ddd;
}

.card_img{
     height:250px; 
     object-fit: cover;
}
.product_detail > h3,.product_detail > h4{
    margin: 5px 0;
    padding: 0 10px;
    text-transform: capitalize;
}
#collections{
    margin: 30px 50px;
    }

    .collection_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    margin: 0 -15px;
    }

    .image_wrapper,.centeral_wrapper{
        flex: 0 0 33.333333%;
        max-width: 33.33333333%;
        height: 400px;
    }

    .image_wrapper > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: top;
        padding: 15px;
        box-sizing: border-box;
    }

    .central_wrapper{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap ;
        height: 400px;
        object-position: top;
    }

    .central_wrapper > img{
        width: 100%;
        height: 50%;
        padding: 15px;
        box-sizing: border-box;
    }

    #brands{
        margin: 30px 50px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    #brands > img{
        padding: 0px 30px;
        height: 200 px;
    }

    .brand_title{
        margin: 30px 50px;
    }

    #brands > img:first-child{
        margin:-15px;
    }

    footer{
        background-color: #eee;
        border-top: 1px solid #ddd;
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .our_brand{
        flex: 0 0 40%;
        max-width: 40%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .our_brand > img{
        width: 40%;
    }

    .our_brand > p{
        font-size: 12px;
    }

    .footer_links, .footer_social{
        flex: 0 0 30%;
        max-width: 30%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .footer_links > ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .footer_social > ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer_links > ul > li> a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .footer_links > ul > li> a:hover{
        text-decoration: none;
        color:red;
        font-size: 14px;
    }
    .footer_social > ul > li> a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }

    .footer_social > ul > li> a:hover{
        text-decoration: none;
        color:red;
        font-size: 14px;
    }



    /* @media only screen and (min-width:320px){ */
        /* .header_left{ */
            /* flex: 0 0 100%; */
            /* text-align: center; */
        /* } */
        /* .btn_login , .btn_register{ */
            /* margin-top: 10px; */
            /* width: 100%; */
        /* } */
        /* .header_right > ul{ */
            /* display: flex; */
            /* align-items: center; */
            /* justify-content: center; */
            /* flex-wrap: wrap; */
            /* margin-bottom: 10px; */
        /* } */
        /* .hero_image{ */
            /* height: 250px; */
            /* object-fit: cover; */
            /* object-position: center; */
        /* } */
        /* .featured > h2{ */
            /* font-size: 24px; */
        /* } */
        /* .product_card */
        /* { */
            /* flex: 0 0 100%; */
            /* max-width: 100%; */
            /* margin-bottom: 15px; */
        /* } */

    /* } */